<form method="POST" id="jwt_form">
    <input type="text" id="jwt_token" placeholder="Enter JWT Token"> <br>
    <input type="submit">  <input type="reset"> <br><br>
    {{#if output}}
    <p>{{output}}</p>
    {{/if}}
</form>
<script>
  const form = document.getElementById('jwt_form');
  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    const token = document.getElementById('jwt_token').value;
    const response = await fetch('/api/sale/get', {
      method: 'POST',
      redirect: 'follow',
      headers: {
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${token}`
      },
    }).then(response=>{
        if(response.status==401){
            window.location.href='http://localhost:8000/api/sale/hbs_token_auth_failed';
        }
        if (response.redirected == true){
            window.location.href=response.url;
        }
    });
  }); 
</script>